<div class="content-wrapper pt-5">
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-warning">404</h2>
        <div class="error-content">
          <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Stránka kterou hledáte ({$path}) neexistuje.</h3>
          <p>
            Doporučujeme vrátit se <a href="/" class="nav-link">zpět</a>.
          </p>
        </div>
      </div>
    </section>
  </div>
