{layout '../layout.latte'}
{block content}
    <div class="card-header">
        <h3 class="card-title">Role</h3>
    </div>
    {include editForm.latte}
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        })
    </script>
{/block}